---
title: "Kuadrant"
linkTitle: "Welcome to Kuadrant!"
---

{{< blocks/cover title="Welcome to the Kuadrant Project!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/Kuadrant">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Kubernetes Native stuff that you want to use!</p>
	{{< blocks/link-down color="primary" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Kuadrant enables hybrid cloud application developers to securely expose & consume k8s services. Think AuthN/AuthZ, rate limiting, and OAS.

{{% /blocks/lead %}}

{{< blocks/section color="secondary" >}}
{{% blocks/feature icon="fa-newspaper" title="Authorino!" url="https://github.com/Kuadrant/authorino" %}}
We do a [Pull Request](https://github.com/Kuadrant/authorino/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="New stuff!" %}}
We're about to add new stuff!

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-newspaper" title="Limitador!" url="https://github.com/Kuadrant/limitador" %}}
We do a [Pull Request](https://github.com/Kuadrant/limitador/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="primary" >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fa-cloud" title="Cloud **native**" %}}
This actually works on Kubernetes
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/Kuadrant" %}}
We do a Pull Request contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/kuadrantio" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Showcase more cool stuff!</h1>
</div>

{{< /blocks/section >}}
