---
layout: layout.njk
tags: index-page # Note: This adds a custom class to layout.njk
---

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Gateway Policies for Kubernetes</h1>
        <h2>Gateways play a pivotal role in application connectivity. With Kuadrant, platform engineers and application developers can easily connect, secure and protect their services and infrastructure using its powerful policy APIs.</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="https://docs.kuadrant.io/latest/getting-started-single-cluster/" class="btn-get-started">Get Started</a>
          <a href="https://kubernetes.slack.com/archives/C05J0D0V525" class="btn-slack"><img class="slack-icon" src="/static/img/slack.png"> Chat on Slack</a>
          <a href="https://youtu.be/euWAMvQojP4" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="/static/img/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<!-- ======= Features Section ======= -->
<section id="features" class="features section-bg about light">
  <div class="container">

    <div class="section-title">
      <h2>Feature Overview</h2>
      <p>Leveraging the emerging ingress and connectivity standard <a href="https://gateway-api.sigs.k8s.io/">Gateway API </a>, Kuadrant's features enable and empower cluster operators and application developers to work collaboratively to connect, secure, protect and observe their service endpoints.</p>
    </div>

    <div class="row">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-globe"></i></div>
          <h4><a href="https://docs.kuadrant.io/latest/kuadrant-operator/doc/reference/dnspolicy/">Connect: DNSPolicy</a></h4>
          <p>Bring traffic to your Gateway(s). Balance and distribute traffic across your different gateway instances, leveraging advanced DNS strategies such as geo and weighted responses without needing to manage individual records. Integrate with multiple cloud DNS Providers including AWS Route 53 and Google Cloud DNS</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-lock"></i></div>
          <h4><a href="https://docs.kuadrant.io/latest/kuadrant-operator/doc/tls/">Secure: TLSPolicy</a></h4>
          <p>Automatically secure traffic to your Gateways with automatic ACME-based TLS integration that supports all of the main ACME providers, including Let's Encrypt</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-shield"></i></div>
          <h4><a href="https://docs.kuadrant.io/latest/kuadrant-operator/doc/auth/">Protect: AuthPolicy</a></h4>
          <p>Protect your services with our flexible and powerful <a href="https://docs.kuadrant.io/latest/kuadrant-operator/doc/auth/">AuthPolicy API</a> that integrates Authentication and Authorization at the Gateway or HTTPRoute level.</p>
        </div>
      </div>
     <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-shield"></i></div>
          <h4><a href="https://docs.kuadrant.io/latest/kuadrant-operator/doc/rate-limiting/">Protect: RateLimitPolicy</a></h4>
          <p>Protect your services with our flexible and powerful <a href="https://docs.kuadrant.io/latest/kuadrant-operator/doc/rate-limiting/">RateLimitPolicy</a> that integrates rate limiting at the Gateway or HTTPRoute level.</p>
        </div>
      </div>
    </div>

    <br><br>

  </div>
</section><!-- End Features Section -->

<!-- ======= Support Infrastructure Section ======= -->
<section id="features" class="features section-bg about light">
  <div class="container">

    <div class="section-title">
      <h2>Support Infrastructure</h2>
      <p>Kuadrant puts in the effort of integrating with different resrouces, so you can don't have too.</p>
    </div>

    <div class="row">

      <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-buildings"></i></div>
          <h4>Platforms</h4>
         <p>There is a number of supported platforms</p>
					<ul class="list-group">
						<li class="list-group-item"><span class="icon"><i class="bx bx-check-circle bx-xs"></i></span> Kubernetes Native</li>
						<li class="list-group-item"><span class="icon"><i class="bx bx-check-circle bx-xs"></i></span> OpenShift</li>
					</ul>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-globe"></i></div>
          <h4>Gateway Providers</h4>
         <p>There is a number of supported gateways</p>
					<ul class="list-group">
						<li class="list-group-item"><span class="icon"><i class="bx bx-check-circle bx-xs"></i></span> <a href="https://istio.io">Istio</a></li>
						<li class="list-group-item"><span class="icon"><i class="bx bx-check-circle bx-xs"></i></span> <a href="https://gateway.envoyproxy.io/">Envoy Gateway</a></li>
					</ul>
        </div>
      </div>

     <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4>DNS Providers</h4>
         <p>There is a number of supported DNS providers</p>
					<ul class="list-group">
						<li class="list-group-item"><span class="icon"><i class="bx bx-check-circle bx-xs"></i></span> AWS Route 53</li>
						<li class="list-group-item"><span class="icon"><i class="bx bx-check-circle bx-xs"></i></span> Google Cloud DNS</li>
					</ul>
        </div>
      </div>
    </div>
  </div>
</section><!-- Supported Infrastructure Section -->

<!-- ======= Components Section ======= -->
<section id="components" class="components">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Components</h2>
      <p>Below are some of the main components that come as part of Kuadrant. For a more detail, take a look at our <a href="https://docs.kuadrant.io/latest/architecture/docs/design/architectural-overview-v1/">Architectural Overview</a></p>
    </div>
    <div class="row">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-cog"></i></div>
          <h4><a href="https://github.com/Kuadrant/kuadrant-operator">Kuadrant Operator</a></h4>
          <p>Operator to install and manage the lifecycle of the Kuadrant components deployments. Provides the core Kuadrant policy APIs that are enforced by the Kuadrant components.  </p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-transfer"></i></div>
          <h4><a href="https://github.com/Kuadrant/dns-operator">DNS Operator</a></h4>
          <p>The DNS Operator integrates with cloud DNS providers to configure DNS connectivity based on DNS Record resources defined by DNSPolicy.</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-key"></i></div>
          <h4><a href="https://github.com/Kuadrant/authorino">Authorino</a></h4>
          <p>Authorino is lightweight Envoy external authorization server fully manageable via Kubernetes Custom Resources. Kuadrant's AuthPolicy defines how Auth requirements should be enforced by Authorino via its AuthConfig API that provides JWT authentication, API key, mTLS, pattern-matching authz, OPA, K8s SA tokens, K8s RBAC, external metadata fetching, and more, with minimum to no coding at all, no rebuilding of your applications.
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-sort-down"></i></div>
          <h4><a href="https://github.com/Kuadrant/limitador">Limitador</a></h4>
          <p>Limitador is a generic rate-limiter written in Rust. Limits are defined by Kuadrant's RateLimitPolicy and enforced by Lmitador.  Limitador can be used as a library, or as a service. The service exposes HTTP endpoints to apply and observe limits. Limitador can be used with Envoy because it also exposes a gRPC service, on a different port, that implements the Envoy Rate Limit protocol (v3).</p>
        </div>
      </div>
  </div>
</section><!-- End Components Section -->


<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">

    <div class="row">
      <div class="col-lg-9 text-center text-lg-start">
        <h3>Getting Started</h3>
        <p> Ready to simplify your API management and boost your application's security and observability? Dive into Kuadrant's comprehensive documentation, installation guides, and tutorials to get started today. Experience the benefits of streamlined API gateway management right away!</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="https://docs.kuadrant.io/latest/getting-started-single-cluster/">Getting Started</a>
      </div>
    </div>

  </div>
</section>
<!-- End Cta Section -->


<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
    </div>

    <div class="faq-list">
      <ul>

        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is Kuadrant and why should I use it? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
            <p>
              Kuadrant is an open-source project designed to provide a unified and simplified interface for managing multiple API gateways. It offers a wide range of features such as multi-cluster ingress, robust access management, advanced security controls, and in-depth observability, making it an excellent choice for application developers and gateway administrators alike.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-2">How does Kuadrant handle security? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Kuadrant offers several features that are aimed at providing a secure API management environment. It includes authentication, authorization, rate limiting, and quota management, among others. Its design adheres to best security practices, ensuring that your APIs are protected.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-3">How do I get started with Kuadrant? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Getting started with Kuadrant is straightforward. You can find all the necessary information on the Kuadrant Documentation <a href="https://docs.kuadrant.io/latest/getting-started-single-cluster/">Getting Started page</a>, including detailed documentation and setup guides. For further assistance, you can also join the Kuadrant community where you'll find helpful resources and support.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-4">Can I integrate Kuadrant with my existing applications and infrastructure? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Yes, Kuadrant is designed to be flexible and can be integrated into your existing application stack. It supports a range of popular infrastructure and platforms, making it a versatile choice for API management.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="500">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-5">Is Kuadrant suitable for large-scale applications? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
            <p>
              Absolutely. Kuadrant is designed to handle the demands of both small and large-scale applications. Its features such as multi-cluster ingress management, scalability, and advanced observability make it a suitable choice for managing APIs at any scale.
            </p>
          </div>
        </li>

      </ul>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->
